node_modules
.DS_Store
.tmp
tmp
dist
npm-debug.log*
yarn.lock
.vscode/launch.json
temp.md
AWS-Deployment/.terraform.lock.hcl
AWS-Deployment/terraform.tfstate
AWS-Deployment/terraform.tfstate.backup
AWS-Deployment/.terraform
AWS-Deployment/terraform.tfvars